<footer id="layout-footer">
    <div>
        <p>
            &#169; Shahul's social media website
        </p>
    </div>

    <div>
        <nav class="footer-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/">
                        user
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>